

*{
  background-color:rgba(34, 25, 25, 0.775);
  color:orangered !important;
  padding:0;
  margin:0;
}
.rectanguloParaDudu{
  background-color: orchid;
  width: 20vw;
  height: 40vh;
  border: white 1px solid;
  display: inline-block;
  margin: 1rem;
}

.cuerpoCompleto{
  margin-top:15%;
  margin-left:10%;
}

.cara{
  width:5rem;
}
.bar{
  background-image: url('./assets/bar.png');
  height: 60vh;
  width: 75vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.person{
  z-index:99;
}
.bob{
  position: absolute;
  left: 58rem;
  top: 23rem;
  background-color: transparent;
  z-index: 10;

}
.safari{
  position: absolute;
  background-color: transparent;
  left: 38rem;
  top: 18rem;
}
.saloongirl{
  background-color: transparent;
  position: absolute;
  right: 71rem;
  top: 6rem;
}